<html class="antialiased" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/assets/img/logo-t.png" type="image/png">
    <title>
      Titip Beli
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <script src="../public/assets/javascripts/script.js"></script>
  </head>
  <body class="contex">
    <script>
      AOS.init();
    </script>
    <div class="header-area shadow-md">
      <div class="container mx-auto">
        <nav class="flex items-center justify-between flex-wrap p-4">
          <div class="flex-grow flex-wrap flex-shrink mr-auto">
            <a href="./homepage.html">
              <img src="../public/assets/img/titip-beli.png" alt="" width="160" class="mt10 mb10">
            </a>
          </div>
          <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded color-purple border-purple hover:color-purple hover:border-purple" onclick="myFunction()">
              <a href="javascript:void(0);" class="icon-bars"></a>
                <i class="fas fa-bars"></i>
              </a>
            </button>
          </div>
          <div class="w-full block lg:flex lg:items-center lg:w-auto">
            <div class="top-nav lg:pt-3 lg:pb-3" style="position:relative;" id="my-top-nav">
              <a href="./browse.html" class="no block mt-4 lg:inline-block lg:mt-0 mr-4">
                browse
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
                request
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
                travel
              </a>
              <a href="#metoo" rel="modal:open" id="lkn" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
                me too
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
                sign up
              </a>
              <a href="#responsive-header" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
                login
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="content">
        <div class="container-detail konteks">
          <h2><i class="fa fa-box"></i> Detail Request</h2>
          <p class="mt-1">Status: 
            <button class="status hover:bg-purple-dark py-1 px-2">On going</button>
          </p>
          <div class="container-body border rounded mt-4 mr-4">
            <div class="flex flex-wrap left-right mt-4 ml-4">
              <div class="left flex-wrap">
                <div class="item-name mb-4 border-b">Nature Republic Aloe Vera</div>
                <div class="item">
                  <i class="fa fa-tags mr-2"></i> Brand :
                  <p class="inline">Nature Republic</p>
                </div>
                <div class="item">
                  <i class="fa fa-cart-plus mr-2"></i> Quantity :
                  <p class="inline">2</p>
                </div>
                <div class="item">
                  <i class="fa fa-money-bill-wave mr-2"></i> Price :
                  <p class="inline">Rp. 200,000,-</p>
                </div>
                <div class="item">
                  <i class="fa fa-bookmark mr-4"></i> Caracteristic :
                  <p class="inline">Gel</p>
                </div>
                <div class="item">
                  <i class="fa fa-map-marker-alt mr-4"></i> From :
                  <p class="inline">Japan</p>
                </div>
                <div class="item">
                  <i class="fa fa-map-marker-alt mr-4"></i> To :
                  <p class="inline">Indonesia</p>
                </div>
                <div class="item mt-4 mb-4">
                  <i class="fa fa-list mr-2 mt-4"></i> Description :
                  <p class="mt-1">Please ensure that the item is in good condition. Thank you.</p>
                </div>
                <div class="item border-b mt-4"></div>
                <div class="item">
                  <div class="mt-4 text-sm">Requested By :</div>
                  <div class="profile inline-flex pin-t pin-r">
                    <img class="w-10 h-10 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                    <p class="text-profile text-large"><b>Jonathan</b></p>
                  </div>
                </div>
                <div class="item mb-6">
                  <div class="mt-4 text-sm">Offered to help : </div>
                  <div class="profile inline-flex pin-t pin-r">
                    <img class="w-10 h-10 rounded-full mr-2" src="https://tailwindcss.com/img/card-left.jpg" alt="Avatar of Jonathan Reinink">
                    <p class="text-profile text-large"><b>Jennifer</b></p>
                  </div>
                </div>
              </div>
              <div class="right flex-wrap">
                <img src="../public/assets/img/natrep.jpg" alt="Natrep" class="image">
                <div class="item">
                  <i class="fa fa-money-bill-wave mr-2 mt-6 mb-2"></i> Agreed Price + Tip :
                  <p class="inline">Rp. 290,000,-</p>
                </div>
                <div class="item">
                  <button class="btn-too w-1/2 hover:bg-purple-dark py-1 px-2" id="btn-metoo" rel="modal:open" >Me too !</button>
                </div>
              </div>
            </div>
          </div>
          <div class="comments mb-6">
            <h2><i class="fa fa-comments"></i> Comments</h2>
            <div class="flex comment-body flex border rounded mt-4 w-full">
              <div class="comment-img flex-wrap">
                <img class="w-10 h-10 rounded-full mr-2" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
              </div>
              <div class="comment-content flex-wrap">
                <div class="font-bold">Jonathan</div>
                <div class="date-comment">01 Aug 2018, 00:19 am</div>
                <div class="mt-2">Hi, please confirm the quantity. Cos the price of one pair is at Rp 120k</div>
              </div>
            </div>
            <div class="flex comment-body flex border rounded mt-4 w-full">
              <div class="comment-img flex-wrap">
                <img class="w-10 h-10 rounded-full mr-2" src="https://tailwindcss.com/img/card-left.jpg" alt="Avatar of Jonathan Reinink">
              </div>
              <div class="comment-content flex-wrap">
                <div class="font-bold">Jennifer</div>
                <div class="date-comment">01 Aug 2018, 02:19 am</div>
                <div class="mt-2">Ohh. Apologies.</div>
              </div>
            </div>
            <div class="btn-comment">
              <button class="btn-too hover:bg-purple-dark py-2 px-4 float-right mt-4" @click="toggleModal">Add Comment</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto mb-12" id="form-metoo" style="display: none">
        <h1>DETAIL REQUEST</h1>
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label class="w-1/6">Item Name :</label>
              </div>
              <div class="sm:w-full">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-grey-darker leading-tight" type="text" required=""/>
              </div>
            </div>
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label class="w-1/6">Category :</label>
              </div>
              <div class="sm:w-full">
                <select class="appearance-none w-1/2 border border-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded leading-tight">
                  <option>New Mexico</option>
                  <option>Missouri</option>
                  <option>Texas</option>
                </select>
              </div>
            </div>
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label>Description :</label>
              </div>
              <div class="sm:w-full">
                <textarea class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-grey-darker leading-tight"></textarea>
              </div>
            </div>
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label>Quantity :</label>
              </div>
              <div class="sm:w-full">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-grey-darker leading-tight" type="number" required="" />  
              </div>
              </div>    
            </div>
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label>Price :</label>
              </div>
              <div class="sm:w-full">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-grey-darker leading-tight" type="number" required="" />  
              </div>
            </div>
            <div class="mt-3 md:flex">
              <div class="sm:w-1/6 text-left mr-2 self-center sm:text-left">
                <label>Tip :</label>
              </div>
              <div class="md:w-full">
                <input class="shadow appearance-none border rounded w-1/2 py-2 px-3 text-grey-darker leading-tight" type="number" required="" />  
              </div>
            </div>
          </div>
    <footer>
      <div class="container mx-auto pl-4">
        <div class="flex flex-wrap mt-20">
          <div class="sm:w-full lg:w-3/5 pb-6">
            <p class="about align-right">
              <span class="inline-block align-left mr-40 mt-2 about">
                About us:
                <br>
                <div class="mt-4"></div>
                <i class="fas fa-home text-white"> </i>
                Jl. Laksda Adisucipto No. 27 Demangan, Yogyakarta 55221 
                <br>
                <div class="mt-2"></div>
                <i class="fas fa-phone-square text-white"> </i>
                +62 811 2525 223
                <div class="mt-2"></div>
                <i class="fas fa-envelope text-white"></i>
                hello@titip-beli.com
              </span>
            </p>
          </div>
          <div class="sm:w-full lg:w-2/5 pb-6 mt-1">
            <p class="footer-links" style="line-height: 1.8em;">
              <a href="#">Aturan Penggunaan</a>
              <span class="separator">•</span>
              <a href="#">Kebijakan Privasi</a>
              <span class="separator">•</span>
              <a href="#">Syarat dan Ketentuan</a>
              <span class="separator">•</span>
              <a href="#">Laporkan</a>
              <span class="separator">•</span>
              <a href="#">FAQ</a>
            </p>
            <p class="mt-6 copyright" style="line-height: 1.8">
              Copyright © 2018 Titip Beli. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>