html.antialiased(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/img/logo-t.png', type='image/png')
    title
      | Titip Beli
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,700')
    script(src='https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js')
    link(href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', rel='stylesheet')
    script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(src='/javascripts/script.js')
  body
    script.
      AOS.init();
    include includes/navbar.pug
    .destiny.my-8.pt-20.pb-20(data-aos='fade-up', data-aos-duration='800')
      .container.mx-auto.shadow-lg
        .hidden.bg-purple(class='md:block md:bg-white md:border-b')
          .container.mx-auto.px-4
            .dashboard(class='md:flex')
              .flex.-mb-px.mr-8
                a.no-underline.text-white.flex.items-center.py-4.border-b.border-purple-dark(href='#', class='md:text-purple-dark')
                  svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
                    path(fill-rule='evenodd', d='M3.889 3h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H3.89A.9.9 0 0 1 3 12.09V3.91A.9.9 0 0 1 3.889 3zM3.889 15h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H3.89C3.398 21 3 20.616 3 20.143v-4.286c0-.473.398-.857.889-.857zM13.889 11h6.222a.9.9 0 0 1 .889.91v8.18a.9.9 0 0 1-.889.91H13.89a.9.9 0 0 1-.889-.91v-8.18a.9.9 0 0 1 .889-.91zM13.889 3h6.222c.491 0 .889.384.889.857v4.286c0 .473-.398.857-.889.857H13.89C13.398 9 13 8.616 13 8.143V3.857c0-.473.398-.857.889-.857z')
                  |               Dashboard
              .flex.-mb-px.mr-8
                a.no-underline.text-white.opacity-50.flex.items-center.py-4.border-b.border-transparent(href='#', class='md:text-grey-dark md:opacity-100 hover:opacity-100 md:hover:border-purple-dark md:hover:text-purple-dark')
                  i.fas.fa-shopping-cart
                  |    Detail Request
              .flex.-mb-px.mr-8
                a.no-underline.text-white.opacity-50.flex.items-center.py-4.border-b.border-transparent(href='#', class='md:text-grey-dark md:opacity-100 hover:opacity-100 md:hover:border-purple-dark md:hover:text-purple-dark')
                  svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
                    path(d='M8 7h10V5l4 3.5-4 3.5v-2H8V7zm-6 8.5L6 12v2h10v3H6v2l-4-3.5z', fill-rule='nonzero')
                  |  Detail Trip
              .flex.-mb-px.mr-8
                a.no-underline.text-white.opacity-50.flex.items-center.py-4.border-b.border-transparent(href='#', class='md:text-grey-dark md:opacity-100 hover:opacity-100 md:hover:border-purple-dark md:hover:text-purple-dark')
                  svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
                    path(d='M18 8H5.5v-.5l11-.88v.88H18V6c0-1.1-.891-1.872-1.979-1.717L5.98 5.717C4.891 5.873 4 6.9 4 8v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2zm-1.5 7.006a1.5 1.5 0 1 1 .001-3.001 1.5 1.5 0 0 1-.001 3.001z', fill-rule='nonzero')
                  |               Detail Transaksi
              .flex.-mb-px.mr-8
                a.no-underline.text-white.opacity-50.flex.items-center.py-4.border-b.border-transparent(href='#', class='md:text-grey-dark md:opacity-100 hover:opacity-100 md:hover:border-purple-dark md:hover:text-purple-dark')
                  svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
                    path(d='M11 12h2v2h9s-.149-4.459-.2-5.854C21.75 6.82 21.275 6 19.8 6h-3.208l-1.197-2.256C15.064 3.121 14.951 3 14.216 3H9.783c-.735 0-.847.121-1.179.744-.165.311-.7 1.318-1.196 2.256H4.199c-1.476 0-1.945.82-2 2.146C2.145 9.473 2 14 2 14h9v-2zM9.649 4.916c.23-.432.308-.516.817-.516h3.067c.509 0 .588.084.816.516L14.924 6h-5.85l.575-1.084zM13 17h-2v-2H2.5s.124 1.797.199 3.322c.031.633.218 1.678 1.8 1.678H19.5c1.582 0 1.765-1.047 1.8-1.678.087-1.568.2-3.322.2-3.322H13v2z', fill-rule='nonzero')
                  |               Tools
              .flex.-mb-px
                a.no-underline.text-white.opacity-50.flex.items-center.py-4.border-b.border-transparent(href='#', class='md:text-grey-dark md:opacity-100 hover:opacity-100 md:hover:border-purple-dark md:hover:text-purple-dark')
                  svg.h-6.w-6.fill-current.mr-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 24')
                    path(d='M18.783 12c0-1.049.646-1.875 1.617-2.443a8.932 8.932 0 0 0-.692-1.672c-1.089.285-1.97-.141-2.711-.883-.741-.74-.968-1.621-.683-2.711a8.732 8.732 0 0 0-1.672-.691c-.568.97-1.595 1.615-2.642 1.615-1.048 0-2.074-.645-2.643-1.615-.58.172-1.14.403-1.671.691.285 1.09.059 1.971-.684 2.711-.74.742-1.621 1.168-2.711.883A8.797 8.797 0 0 0 3.6 9.557c.97.568 1.615 1.394 1.615 2.443 0 1.047-.645 2.074-1.615 2.643.173.58.404 1.14.691 1.672 1.09-.285 1.971-.059 2.711.682.741.742.969 1.623.684 2.711.532.288 1.092.52 1.672.693.568-.973 1.595-1.617 2.643-1.617 1.047 0 2.074.645 2.643 1.617a8.963 8.963 0 0 0 1.672-.693c-.285-1.088-.059-1.969.683-2.711.741-.74 1.622-1.166 2.711-.883.287-.532.52-1.092.692-1.672-.973-.569-1.619-1.395-1.619-2.442zM12 15.652a3.653 3.653 0 1 1 0-7.306 3.653 3.653 0 0 1 0 7.306z', fill-rule='nonzero')
                  |               Settings
        .flex-grow.container.mx-auto.pt-6.pb-8(class='sm:px-4')
          .bg-white.border-t.border-b.shadow.mb-6(class='sm:border-l sm:border-r sm:rounded')
            .border-b.px-6
              .flex.justify-between.-mb-px
                .text-purple-dark.py-4.text-lg(class='lg:hidden')
                  | Price Charts
                .hidden(class='lg:flex')
                  button.appearance-none.py-4.text-purple-dark.border-b.border-purple-dark.mr-6(type='button')
                    | Request Aktif
                  button.appearance-none.py-4.text-grey-dark.border-b.border-transparent.mr-6(type='button', class='hover:border-purple-dark hover:text-purple-dark')
                    | Request Belum Dikirim
                  button.appearance-none.py-4.text-grey-dark.border-b.border-transparent(type='button', class='hover:border-purple-dark hover:text-purple-dark')
                    | PO Aktif
            .flex.items-center.px-6(class='lg:hidden')
              .flex-grow.flex-no-shrink.py-6
                .text-grey-darker.mb-2
                  span.text-3xl.align-top CA$
                  span.text-5xl 10
                  span.text-3xl.align-top .74
                .text-green-light.text-sm
                  | ↑ CA$12,955.35 (154.16%)
              .flex-shrink.w-32.inline-block.relative
                select.block.appearance-none.w-full.bg-white.border.border-grey-light.px-4.py-2.pr-8.rounded
                  option BTC
                  option ETH
                  option LTC
                .pointer-events-none.absolute.pin-y.pin-r.flex.items-center.px-2.text-grey
                  svg.fill-current.h-4.w-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
                    path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
            .hidden(class='lg:flex')
              .text-center.py-8(class='w-1/3')
                .border-r
                  .text-grey-darker.mb-2
                    span.text-5xl 10
                  .text-sm.uppercase.text-grey.tracking-wide
                    | Request Perlu Dibeli
              .text-center.py-8(class='w-1/3')
                .border-r
                  .text-grey-darker.mb-2
                    span.text-5xl 5
                  .text-sm.uppercase.text-grey.tracking-wide
                    | Request Perlu Dikirim
              .text-center.py-8(class='w-1/3')
                div
                  .text-grey-darker.mb-2
                    span.text-5xl 2
                  .text-sm.uppercase.text-grey.tracking-wide
                    | PO Aktif
          .flex.flex-wrap.-mx-4
            .w-full.mb-6.px-4.flex.flex-col(class='lg:mb-0 lg:w-1/2')
              .flex-grow.flex.flex-col.bg-white.border-t.border-b.shadow.overflow-hidden(class='sm:rounded sm:border')
                .border-b
                  .flex.justify-between.px-6.-mb-px
                    h3.text-purple-dark.py-4.font-normal.text-lg Transaksi Anda
                .border-b.border-t
                  .flex-grow.flex.px-6.py-2.text-grey-darker.items-center.border-b.-mx-4
                    .px-6.flex.items-center(class='w-2/5 xl:w-1/4')
                      .rounded-full.bg-orange.inline-flex.mr-3
                      span.text-md.text-center Nama Barang
                    .px-4.items-center.text-center(class='md:flex lg:hidden xl:flex w-1/4')
                      .h-2.rounded-full.flex-grow.mr-2.text-center
                      |                     Keterangan
                    .flex(class='w-3/5 md:w/12')
                      .px-4.pt-2.align-middle(class='w-1/2')
                        .text-center
                          | Jumlah
                      .px-4(class='w-1/2')
                        .text-center
                          | Harga Barang + Tip
                .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
                  .px-4.flex.items-center(class='w-2/5 xl:w-1/4')
                    .rounded-full.bg-orange.inline-flex.mr-3
                      svg.fill-current.text-white.h-8.w-8.block(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                        g(fill-rule='evenodd')
                          path(d='M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z')
                    span.text-md Nature Republic Aloevera
                  .px-4.items-center.text-center(class='md:flex lg:hidden xl:flex w-1/4')
                    .bg-orange.h-2.rounded-full.flex-grow.mr-2.text-center
                    |                   Sudah dibayar
                  .flex(class='w-3/5 md:w/12')
                    .px-4(class='w-1/2')
                      .text-center
                        | 1 pcs
                    .px-4(class='w-1/2')
                      .text-right.text-grey
                        | Rp. 128.000
                .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
                  .px-4.flex.items-center(class='w-2/5 xl:w-1/4')
                    .rounded-full.bg-orange.inline-flex.mr-3
                      svg.fill-current.text-white.h-8.w-8.block(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                        g(fill-rule='evenodd')
                          path(d='M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z')
                    span.text-lg Nature Republic Aloevera
                  .px-4.items-center.text-center(class='md:flex lg:hidden xl:flex w-1/4')
                    .bg-orange.h-2.rounded-full.flex-grow.mr-2.text-center
                    |                   Sudah dibayar
                  .flex(class='w-3/5 md:w/12')
                    .px-4(class='w-1/2')
                      .text-center
                        | 1 pcs
                    .px-4(class='w-1/2')
                      .text-right.text-grey
                        | Rp. 128.000
                .flex-grow.flex.px-6.py-6.text-grey-darker.items-center.border-b.-mx-4
                  .px-4.flex.items-center(class='w-2/5 xl:w-1/4')
                    .rounded-full.bg-orange.inline-flex.mr-3
                      svg.fill-current.text-white.h-8.w-8.block(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
                        g(fill-rule='evenodd')
                          path(d='M21.78 15.37c.51-.61.83-1.4.83-2.26 0-2.74-1.6-4.38-4.24-4.38V5.45c0-.12-.1-.22-.22-.22h-1.27c-.11 0-.2.1-.2.21v3.3h-1.7V5.44c0-.12-.1-.22-.22-.22H13.5c-.12 0-.2.1-.21.21v3.3H9.67c-.12 0-.21.09-.21.21v1.31c0 .12.1.22.21.22h.21c.94 0 1.7.79 1.7 1.75v7c0 .92-.68 1.67-1.55 1.75a.21.21 0 0 0-.18.16l-.33 1.32c-.01.06 0 .13.04.19.04.05.1.08.17.08h3.55v3.3c0 .1.1.2.2.2h1.28c.12 0 .21-.1.21-.22v-3.28h1.7v3.3c0 .1.1.2.21.2h1.27c.12 0 .22-.1.22-.22v-3.28h.85c2.65 0 4.24-1.64 4.24-4.37 0-1.28-.68-2.39-1.68-3zm-6.8-4.01h2.54c.94 0 1.7.78 1.7 1.75 0 .96-.76 1.75-1.7 1.75h-2.55v-3.5zm3.39 8.75h-3.4v-3.5h3.4c.93 0 1.7.78 1.7 1.75 0 .96-.77 1.75-1.7 1.75z')
                    span.text-lg Nature Republic Aloevera
                  .px-4.items-center.text-center(class='md:flex lg:hidden xl:flex w-1/4')
                    .bg-orange.h-2.rounded-full.flex-grow.mr-2.text-center
                    |                   Sudah dibayar
                  .flex(class='w-3/5 md:w/12')
                    .px-4(class='w-1/2')
                      .text-center
                        | 1 pcs
                    .px-4(class='w-1/2')
                      .text-right.text-grey
                        | Rp. 128.000
                //
                  <div class="flex-grow flex px-6 py-6 text-grey-darker items-center border-b -mx-4">
                  <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                  <div class="rounded-full bg-grey inline-flex mr-3">
                  <svg class="fill-current text-white h-8 w-8 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38"><g fill-rule="evenodd"><path d="M12.29 28.04l1.29-5.52-1.58.67.63-2.85 1.64-.68L16.52 10h5.23l-1.52 7.14 2.09-.74-.58 2.7-2.05.8-.9 4.34h8.1l-.99 3.8z"></path></g></svg>
                  </div>
                  <span class="text-lg">Litecoin</span>
                  </div>
                  <div class="hidden md:flex lg:hidden xl:flex w-1/4 px-4 items-center">
                  <div class="bg-grey h-2 w-2 rounded-full mr-2"></div>
                  0%
                  </div>
                  <div class="flex w-3/5 md:w/12">
                  <div class="w-1/2 px-4">
                  <div class="text-right">
                  0.0000 LTC
                  </div>
                  </div>
                  <div class="w-1/2 px-4">
                  <div class="text-right text-grey">
                  CA$0.00
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="flex-grow flex px-6 py-6 text-grey-darker items-center border-b -mx-4">
                  <div class="w-2/5 xl:w-1/4 px-4 flex items-center">
                  <div class="rounded-full bg-indigo inline-flex mr-3">
                  <svg class="fill-current text-white h-8 w-8 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill-rule="evenodd"><path d="M10.13 17.76c-.1-.15-.06-.2.09-.12l5.49 3.09c.15.08.4.08.56 0l5.58-3.08c.16-.08.2-.03.1.11L16.2 25.9c-.1.15-.28.15-.38 0l-5.7-8.13zm.04-2.03a.3.3 0 0 1-.13-.42l5.74-9.2c.1-.15.25-.15.34 0l5.77 9.19c.1.14.05.33-.12.41l-5.5 2.78a.73.73 0 0 1-.6 0l-5.5-2.76z"></path></g></svg>
                  </div>
                  <span class="text-lg">Ethereum</span>
                  </div>
                  <div class="hidden md:flex lg:hidden xl:flex w-1/4 px-4 items-center">
                  <div class="bg-indigo h-2 w-2 rounded-full mr-2"></div>
                  0%
                  </div>
                  <div class="flex w-3/5 md:w/12">
                  <div class="w-1/2 px-4">
                  <div class="text-right">
                  0.0000 ETH
                  </div>
                  </div>
                  <div class="w-1/2 px-4">
                  <div class="text-right text-grey">
                  CA$0.00
                  </div>
                  </div>
                  </div>
                  </div>
                .px-6.py-4
                  .text-center.text-grey
                    | Total Balance ≈ Rp 456.940
            .w-full.px-4(class='lg:w-1/2')
              .bg-white.border-t.border-b.shadow(class='sm:rounded sm:border')
                .border-b
                  .flex.justify-between.px-6.-mb-px
                    h3.text-purple-dark.py-4.font-normal.text-lg Recent Activity
                div
                  .text-center.px-6.py-4
                    .py-8
                      .mb-4
                        svg.inline-block.fill-current.text-grey.h-16.w-16(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
                          path(d='M11.933 13.069s7.059-5.094 6.276-10.924a.465.465 0 0 0-.112-.268.436.436 0 0 0-.263-.115C12.137.961 7.16 8.184 7.16 8.184c-4.318-.517-4.004.344-5.974 5.076-.377.902.234 1.213.904.959l2.148-.811 2.59 2.648-.793 2.199c-.248.686.055 1.311.938.926 4.624-2.016 5.466-1.694 4.96-6.112zm1.009-5.916a1.594 1.594 0 0 1 0-2.217 1.509 1.509 0 0 1 2.166 0 1.594 1.594 0 0 1 0 2.217 1.509 1.509 0 0 1-2.166 0z')
                      p.text-2xl.text-grey-darker.font-medium.mb-4 No buys or sells yet
                      p.text-grey.max-w-xs.mx-auto.mb-6
                        | You've successfully linked a payment method and can start buying digital currency.
                      div
                        button.bg-purple.text-white.border.border-purple-dark.rounded.px-6.py-4(type='button', class='hover:bg-purple-dark') Bantu Belikan
    .hr-1.mt-8
    include includes/footer.pug