html.antialiased(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='/img/logo-t.png', type='image/png')
    title
      | Titip Beli
    link(href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Lato:400,700')
    script(src='https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js')
    link(href='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css', rel='stylesheet')
    script(src='https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    script(src='/javascripts/script.js')
    script(src='/javascripts/setting-js.js')
  body
    script.
      AOS.init();
    include includes/navbar.pug
    .destiny.pt-20.pb-20
      .container.mx-auto.pl-2
        .m-5
          h2
            i.fa.fa-cog.fa-spin.fa-lg.fa-fw
            |             Settings
          span.sr-only Loading...
        .max-w-md.rounded.overflow-hidden.shadow-lg.m-5
          .px-6.py-4.purple-bg.text-white
            .font-bold.text-md.mb-2
              h4
                | Payout Method
                i#caretPayout.fa.fa-caret-down.cursor-pointer(onclick="javascript:collapse('panelMethodPayout');")
          #panelMethodPayout.hidden
            .px-6.py-4
              p.text-grey-darker.text-base
                | Sebagai Personal Shopper, kamu akan menerima uang dari Titip Beli melalui transfer bank dalam waktu 7 hari kerja setelah Requester menerima barang.
              div
                form.mt-4
                  .mb-4
                    label.block.text-black.text-sm.font-bold.mb-2(for='username')
                      | Nama Pemegang Rekening
                    input#username.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker.leading-tight(type='text', placeholder='Username')
                    em.text-grey.text-xs.italic Field ini harus diisi
                  .mb-4
                    label.block.text-black.text-sm.font-bold.mb-2(for='password')
                      | Bank
                    .relative
                      select#grid-state.block.appearance-none.w-full.border.text-grey-darker.py-2.px-4.rounded.leading-tight
                        option New Mexico
                        option Missouri
                        option Texas
                      .pointer-events-none.absolute.pin-y.pin-r.flex.items-center.px-2.text-grey-darker
                        svg.fill-current.h-4.w-4(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20')
                          path(d='M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z')
                    em.text-grey.text-xs.italic Field ini harus diisi
                  .mb-6
                    label.block.text-black.text-sm.font-bold.mb-2(for='password')
                      | Rekening
                    input#username.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker.leading-tight(type='text', placeholder='Username')
                    em.text-grey.text-xs.italic Field ini harus diisi
                  .flex.items-center.justify-between
                    button.bg-green.text-white.font-bold.py-2.px-4.rounded(class='hover:bg-green-dark', type='button')
                      | Save
        .max-w-md.rounded.overflow-hidden.shadow-lg.m-5
          .px-6.py-4.purple-bg.text-white
            .font-bold.text-md.mb-2
              h4
                | Email Notification Testing
                i#caretPayout.fa.fa-caret-down.cursor-pointer(onclick="javascript:collapse('panelSettingNotification');")
          #panelSettingNotification.hidden
            .px-6.py-4
              div
                form.mt-4
                  .items-center.border-b.border-b-2.border-grey.py-2.mb-4.max-w-md.w-full
                    .flex.flex-wrap
                      .w-full.px-3.py-3.mb-6(class='md:w-1/2 md:mb-0')
                        label.block.tracking-wide.text-black.text-xs.font-bold.mb-2(for='grid-first-name')
                          | Komentar Baru
                      .w-full.px-3.text-center(class='md:w-1/2')
                        button#newComment.flex-no-shrink.text-sm.border-4.text-white.py-1.px-2.rounded.pr-5.pl-5.bg-green.border-green(class='hover:bg-green-dark hover:border-green-dark', type='button', onclick="javascript:switchNotification('newComment');")
                          | Yes
                  .items-center.border-b.border-b-2.border-grey.py-2.mb-4.max-w-md.w-full
                    .flex.flex-wrap
                      .w-full.px-3.py-3.mb-6(class='md:w-1/2 md:mb-0')
                        label.block.tracking-wide.text-black.text-xs.font-bold.mb-2(for='grid-first-name')
                          | Followers Baru
                      .w-full.px-3.text-center(class='md:w-1/2')
                        button#newFollowers.flex-no-shrink.text-sm.border-4.text-white.py-1.px-2.rounded.pr-5.pl-5.bg-green.border-green(class='hover:bg-green-dark hover:border-green-dark', type='button', onclick="javascript:switchNotification('newFollowers');")
                          | Yes
                  .items-center.border-b.border-b-2.border-grey.py-2.mb-4.max-w-md.w-full
                    .flex.flex-wrap
                      .w-full.px-3.py-3.mb-6(class='md:w-1/2 md:mb-0')
                        label.block.tracking-wide.text-black.text-xs.font-bold.mb-2(for='grid-first-name')
                          | Request terinspirasi darimu
                      .w-full.px-3.text-center(class='md:w-1/2')
                        button#inspiredRequest.flex-no-shrink.text-sm.border-4.text-white.py-1.px-2.rounded.pr-5.pl-5.bg-green.border-green(class='hover:bg-green-dark hover:border-green-dark', type='button', onclick="javascript:switchNotification('inspiredRequest');")
                          | Yes
                  .items-center.py-2.mb-4.max-w-md.w-full
                    .flex.flex-wrap
                      .w-full.px-3.py-3.mb-6(class='md:w-1/2 md:mb-0')
                        label.block.tracking-wide.text-black.text-xs.font-bold.mb-2(for='grid-first-name')
                          | Akitivitas user yang kamu ikuti
                      .w-full.px-3.text-center(class='md:w-1/2')
                        button#newPostFollowed.flex-no-shrink.text-sm.border-4.text-white.py-1.px-2.rounded.pr-5.pl-5.bg-green.border-green(class='hover:bg-green-dark hover:border-green-dark', type='button', onclick="javascript:switchNotification('newPostFollowed');")
                          | Yes
    .hr-1.mt-8
    include includes/footer.pug