footer
  .container.mx-auto.pl-4
    .flex.flex-wrap.mt-20
      .pb-6(class='sm:w-full lg:w-3/5')
        p.about.align-right
          span.inline-block.align-left.mr-40.mt-2.about
            | About us:
            br
            .mt-4
            i.fas.fa-home.text-white  
            | Jl. Laksda Adisucipto No. 27 Demangan, Yogyakarta 55221 
            br
            .mt-2
            i.fas.fa-phone-square.text-white  
            | +62 811 2525 223
            .mt-2
            i.fas.fa-envelope.text-white
            | hello@titip-beli.com
      .pb-6.mt-1(class='sm:w-full lg:w-2/5')
        p.footer-links(style='line-height: 1.8em;')
          a(href='#') Aturan Penggunaan
          span.separator •
          a(href='#') Kebijakan Privasi
          span.separator •
          a(href='#') Syarat dan Ketentuan
          span.separator •
          a(href='#') Laporkan
          span.separator •
          a(href='#') FAQ
        p.mt-6.copyright(style='line-height: 1.8')
          | Copyright © 2018 Titip Beli. All rights reserved.
