<div class="header-area shadow-md">
  <div class="container mx-auto">
    <nav class="flex items-center justify-between flex-wrap p-4">
      <div class="flex-grow flex-wrap flex-shrink mr-auto">
        <a href="./homepage.html">
          <img src="../public/assets/img/titip-beli.png" alt="" width="160" class="mt10 mb10">
        </a>
      </div>
      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded color-purple border-purple" onclick="myFunction()">
          <a href="javascript:void(0);" class="icon-bars"></a>
            <i class="fas fa-bars"></i>
          </a>
        </button>
      </div>
      <div class="w-full block lg:flex lg:items-center lg:w-auto">
        <div class="top-nav lg:pt-3 lg:pb-3" style="position:relative;" id="my-top-nav">
          <a href="./browse.html" class="no block mt-4 lg:inline-block lg:mt-0 mr-4">
            browse
          </a>
          <a href="./post-req.html" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
            post request
          </a>
          <a href="./post-trip.html" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
            post travel
          </a>
          <a href="./inbox.html" class="no lg:ml-4 block mt-4 lg:inline-block lg:mt-0 mr-4">
            inbox
          </a>
          <a href="#" class="no dropbtn nav-lang lg:pt-3 lg:pb-3 lg:pl-6 lg:ml-4 block mt-4 lg:inline-block lg:mt-0" onclick="myDropdown()">
            cinderella
            <i class="fa fa-caret-down"></i>
          </a>
          <div class="dropdown-content" id="my-dropdown">
            <a href="./profile.html">profil</a>
            <a href="./purchase.html">purchases</a>
            <a href="./trips.html">trips</a>
            <a href="./credit.html">credit</a>
            <a href="./wallet.html">wallet</a>
            <a href="./setting.html">setting</a>
            <a href="./logout.html">logout</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>